 
 <h2> Participative Press</h2>
    <div class="breakBottom"> </div>
    <table class="myTable">
        <tr class="nav_row"> 
          
          <td class="display"> <img src="/assets/images/wingding1.png" class="blogimage"></td> <td class="hide"><a href="blog.html"> Recent</a></td></tr>

        <tr> <td> <img src="/assets/images/wingding4.png" class="blogimage"></td> <td><a href="about.html"> Archive</a></td></tr>



    </table>

 
 <!-- <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</nav>

--> 
