 
 <h2> Participatieve Pers</h2>
    <div class="breakBottom"> </div>
    <table class="myTable">
        <tr class="trblue" > 
          
          <td  > <img src="/assets/images/wingding1.png" class="blogimage"></td> <td ><a href="/index.html"> Recent</a></td></tr>

        <tr class="trgreen"> <td> <img src="/assets/images/wingding4.png" class="blogimage"></td> <td><a href="/archive.html"> Archief</a></td></tr>

        <tr class="tryellow"> <td> <img src="/assets/images/wingding2.png" class="blogimage"></td> <td><a href="/about.html"> Over</a></td></tr>


    </table>

 
 <!-- <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</nav>

--> 
